.idea
.env
*.iml
out
dist

gen
build
### react template
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components
*.sublime*
psd
thumb
sketch
.firebase
serviceAccountKey.json
upload.js
assign.js